<img src='https://lh3.googleusercontent.com/b8Cmw_ouaEGOrfNOonyOfHYwvZCQDgPwdpkZGyZr3UEpbKb_vLfBHRgJcuZW_GtWmi61ODYvHjACskutfMLkriDyWhVNfwEJrbqYjTFjuH8wsUcWaby-hCYRQErX3SigVZbF0pKjOQ' alt="" width="700" height="250"/>

<br><br>
<p style="font-family: Arial;font-size:3.5em; color:#09bef3; font-style:bold; text-align:center">
LimFinity Institute of Technology
</p>

<p style="font-family: Arial; font-size:2em;color:#09bef3; font-style:normal; text-align:center; font-weight: bold"><br><br>

التنبؤ بتقييم ومهارات لاعبين كرة القدم
<br>
<br><br>
<img src='https://lh3.googleusercontent.com/fUGt7qNIuEehKvuEGPhrpTJ6FFSGqi3SZSFIoSoYl11ymv8I9NeyJYd5ZjWhx02SIgDKF_6r5omqb4esibhZePjJiypd518aTzo23_v5YYM16wW1-Uvx21YjKtbelTVhgr2OaKbGkw' alt="" width="800" height="200"/></a>



<p style="font-family: Arial; font-size:1.75em;color:#09bef3; font-style:bold; text-align:right; direction: rtl; font-weight: bold" ><br>

مصدر البيانات: موقع Kaggle للبيانات
</p>

<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>

في هذا المشروع سوف نقوم ببناء نموذج يتنبئ بالتقييم الكلي للاعبين كرة القدم في اوربا حيث هذا التقييم يتراوح من 0 الى 99% وبما ان الهدف الذي نريد التنبؤ به هو رقم اذاً هذه المهمة من نوع Regression لاننا نريد التنبؤ برقم محدد وليست مهمة تصنيفية لعدد اصناف محدودة وايضا هي مهمة من نوع تعليم بالاشراف لانه عمود ال Label الذي نريد التنبؤ به موجود ضمن بياناتنا
<br><br>
البيانات التي سنعمل عليها تخص الاعبين كرة القدم في الدوريات الاوربية الممتازة وهي كبيرة وكافية للدراسة وبناء نموذج حيث هذه البيانات تم جمعها بواسطة الفيفا في المواسم الرياضية مابين عام 2008 وعام 2016 لأكثر من 10 الاف لاعب في اوربا
<br>
البيانات التي سنعمل عليها تحتوي على 150 الف سطر و42 عمود كل عمود يحتوي بداخله معلومات عن اللاعب مثلا سرعة اللاعب وقوة التسديد ودقة التمريرات والخ.. من الخصائص التي سنجعل النموذج يتعلم منها واحد هذه الاعمدة هو عمود التقييم الكلي للاعب overall_rating وهو العمود الهدف الذي نريد بناء نموذج يتنبئ به وبما ان ال Label الذي نريد التنبؤ به عبارة عن ارقام اذاً سنستخدم ال Regression وكما تعلمنا في الدورة انه علينا اختيار خورازمية من اجل بناء نموذج ولذلك في هذا المشروع سوف نبني النموذج بأستخدام الخوارزمية Linear Regression وهي احدى خوارزميات الانحدار والتي سنتعرف عليها اكثر في الدورات القادمة لان الهدف من هذا المشروع هو فقط بناء تطبيق ذكي يتنبئ بالتقييم الكلي للاعب من خلال معرفة خصائصه مثلا سرعته وتحمله ودقة تسديداته والخ..
</p>

<p style="font-family: Arial; font-size:1.75em;color:#09bef3; font-style:bold; text-align:right; direction: rtl; font-weight: bold" ><br>

استيراد المكتبات التي نحتاجها في المشروع:
</p>

<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>

- سوف نقوم بأستيراد مكتبة Pandas من اجل قراءة البيانات واستكشافها
<br>
- وسوف نقوم بأستيراد train_test_split من مكتبة sklearn من اجل قسم البيانات الى قسمين هما train لتدريب النموذج و test لأختبار النموذج
<br>
- وسوف نقوم بأستيراد الخوارزمية Linear Regression احدى خوارزميات الانحدار المهمة من اجل بناء النموذج بأستخدامها وسوف نتعرف عليها اكثر في الدورات القادمة
<br>
- وسوف نقوم بأستيراد mean_squared_error من اجل فحص دقة النموذج ومعرفة مقدار الخطأ في النموذج من خلال الجذر التربيعي ل mean_squared_error

</p>

In [1]:
import pandas as pd 

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error
from math import sqrt


<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>
سوف نقوم بقراء البيانات player-attributes.csv والمخزونة في الفولدر datasets ومن الواضح انه صيغة هذا الملف comma-separated-values CSV وسوف نحول هذا الملف الى جدول DataFrame

بأستخدام Pandas وسوف نخزنه في متغير اسمه df
</p>

In [2]:
df = pd.read_csv("./datasets/player-attributes.csv")

<p style="font-family: Arial; font-size:1.75em;color:#09bef3; font-style:bold; text-align:right; direction: rtl; font-weight: bold" ><br>

استكشاف البيانات:
</p>


<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>
الان لنتعرف على عدد السطور والاعمدة في بياناتنا ومن ثم لنستعرض اول خمسة سطور من البيانات من اجل التعرف على اعمدة بياناتنا ومشاهدة البيانات التي بداخلها

</p>

In [3]:
df.shape

(150000, 42)

In [4]:
df.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,18-02-16 0:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,19-11-15 0:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,21-09-15 0:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,20-03-15 0:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,22-02-07 0:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>
ومن الواضح انه جوبيتر نوت بوك لم يعرض جميع الاعمدة لانه يعرض دائما عدد محدود من الاعمدة والسبب في ذلك لانه في بعض البيانات يكون عدد الاعمدة هائل ربما بالملايين ولكن بأمكاننا عرض جميع الاعمدة لبياناتنا من خلال استخدام المثود columns من اجل اختيار اعمدة الخصائص X للنموذج

</p>

In [5]:
df.columns

Index(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'overall_rating',
       'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes'],
      dtype='object')

<p style="font-family: Arial; font-size:1.75em;color:#09bef3; font-style:bold; text-align:right; direction: rtl; font-weight: bold" ><br>

تنظيف البيانات:
</p>
<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>

لنستكشف هل يوجد قيم مفقودة في بياناتنا من خلال استخدام المثود isnull
</p>

In [6]:
df.isnull().any()

id                     False
player_fifa_api_id     False
player_api_id          False
date                   False
overall_rating          True
potential               True
preferred_foot          True
attacking_work_rate     True
defensive_work_rate     True
crossing                True
finishing               True
heading_accuracy        True
short_passing           True
volleys                 True
dribbling               True
curve                   True
free_kick_accuracy      True
long_passing            True
ball_control            True
acceleration            True
sprint_speed            True
agility                 True
reactions               True
balance                 True
shot_power              True
jumping                 True
stamina                 True
strength                True
long_shots              True
aggression              True
interceptions           True
positioning             True
vision                  True
penalties               True
marking                 True
standing_tackle         True
sliding_tackle          True
gk_diving               True
gk_handling             True
gk_kicking              True
gk_positioning          True
gk_reflexes             True
dtype: bool

<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>

وكما تعلمنا سابقا انه يجب تنظيف البيانات قبل بناء النموذج حيث لايمكننا بناء نموذج قبل معالجة البيانات المفقودة ولذلك سوف نقوم هنا للأختصار بحذف القيم المفقودة من خلال استخدام المثود dropna </p>

In [7]:
df = df.dropna()

In [8]:
df.shape

(147081, 42)

<p style="font-family: Arial; font-size:1.75em;color:#09bef3; font-style:bold; text-align:right; direction: rtl; font-weight: bold" ><br>

تحضير البيانات لبناء النموذج:
</p>


<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>

والان بعد ان استكشفنا البيانات وفهمناها وبعد ان قمنا بتنظيف البيانات سوف نبدأ الان بتحضير البيانات من اجل بناء النموذج مثلا تحضير X, y ومن ثم قسم البيانات الى تدريبية وتجريبية <br>

</p>
<p style="font-family: Arial; font-size:1.5em;color:black; font-style:normal; text-align:right; direction: rtl;font-weight:bold"><br>

انشاء X, y
</p>

<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>
كما تعلمنا في الدرس ان X هي اعمدة الخصائص و y هي عمود ال Label

<br>
وفي البداية سوف نحدد اسماء اعمدة الخصائص التي نريد تدريب النموذج عليها وسوف نختار الاعمدة المهمة التي لها علاقة في التقييم الكلي للاعب (سنتعلم في الدورات القادمة كيف نختار اهم الاعمدة) ثم سنخزن اسماء هذه الاعمدة في متغير اسمه الخصائص features
<br>

ملاحظة: سوف نهمل الاعمدة التي تحتوي على قيم نصية مثلا القدم المفضلة يمين او يسار لاننا لم نتعلم بعد طريقة تحويل النصوص الى ارقام بعد لانه من شروط مكتبة sklearn ان تكون البيانات المدخلة لبناء النموذج بيانات رقمية وسوف نتعلم في الدورات المتقدمة كيف نعالج البيانات النصية في تعليم الالة
</p>

In [9]:
features = [
       'potential', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes']

<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>

والان لنستخرج هذه الاعمدة من البيانات ولنخزنها في X
</p>

In [10]:
X = df[features]

<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>

الان لنفعل نفس الشيء مع y حيث سنختار اسم العمود والذي نريده ان يكون ال Label للنموذج وهو overall_rating 
<br>
ثم لنستخرجه من البيانات ولنخزنه في y
</p>

In [11]:
target = ['overall_rating']

In [12]:
y = df[target]

<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>

لنستعرض اول سطر من X
</p>

In [13]:
X.iloc[0]

potential             71.0
crossing              49.0
finishing             44.0
heading_accuracy      71.0
short_passing         61.0
volleys               44.0
dribbling             51.0
curve                 45.0
free_kick_accuracy    39.0
long_passing          64.0
ball_control          49.0
acceleration          60.0
sprint_speed          64.0
agility               59.0
reactions             47.0
balance               65.0
shot_power            55.0
jumping               58.0
stamina               54.0
strength              76.0
long_shots            35.0
aggression            71.0
interceptions         70.0
positioning           45.0
vision                54.0
penalties             48.0
marking               65.0
standing_tackle       69.0
sliding_tackle        69.0
gk_diving              6.0
gk_handling           11.0
gk_kicking            10.0
gk_positioning         8.0
gk_reflexes            8.0
Name: 0, dtype: float64

<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>

ولنستعرض سطور y</p>

In [14]:
y

        overall_rating
0                 67.0
1                 67.0
2                 62.0
3                 61.0
4                 61.0
5                 74.0
6                 74.0
7                 73.0
8                 73.0
9                 73.0
10                73.0
11                74.0
12                73.0
13                71.0
14                71.0
15                71.0
16                70.0
17                70.0
18                70.0
19                70.0
20                70.0
21                70.0
22                69.0
23                69.0
24                69.0
25                69.0
26                69.0
27                69.0
28                69.0
29                68.0
...                ...
149970            67.0
149971            67.0
149972            71.0
149973            71.0
149974            73.0
149975            73.0
149976            74.0
149977            74.0
149978            74.0
149979            74.0
149980            70.0
149981            70.0
149982            65.0
149983            65.0
149984            65.0
149985            65.0
149986            68.0
149987            70.0
149988            72.0
149989            71.0
149990            71.0
149991            70.0
149992            71.0
149993            77.0
149994            70.0
149995            71.0
149996            71.0
149997            73.0
149998            72.0
149999            75.0

[147081 rows x 1 columns]

<p style="font-family: Arial; font-size:1.75em;color:#09bef3; font-style:bold; text-align:right; direction: rtl; font-weight: bold" ><br>

قسم البيانات الى تدريبية وتجريبية (Train and Test split):

</p>
<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>

لنقسم الان بياناتنا بأستخدام الوظيفة train_test_split الى تدريبية ندرب بها النموذج وتجريبية نجرب ونختبر بها النموذج حيث سنقسم البينات بنسة 70% للتدريبية و 30% للتجريبية
</p>

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=321)

<p style="font-family: Arial; font-size:1.75em;color:#09bef3; font-style:bold; text-align:right; direction: rtl; font-weight: bold" ><br>

بناء النموذج وتدريبه:
</p>

<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>

بعد ان قسمنا البيانات كل مانحتاج اليه الان لبناء نموذج هو اختيار الخوارزمية وكما ذكرنا في بداية المشروع اننا سنستخدم في هذا المشروع خوارزمية الانحدار الخطي وسوف نقوم بخزنها في متغير سوف نسميه regressor من اجل تحويلها من كلاس الى كائن 
<br>
والان سوف ندرب النموذج regressor على البيانات التدريبية بأستخدام الوظيفة fit

</p>

In [16]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

<p style="font-family: Arial; font-size:1.75em;color:#09bef3; font-style:bold; text-align:right; direction: rtl; font-weight: bold" ><br>

التنبؤ واختبار النموذج:
</p>

</p>
<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>

بعد ان قمنا ببناء النموذج سوف نقوم الان بتجريبه على البيانات التجريبية X_test حيث سنقوم بالتنبؤ بال Labels للبيانات التجريبية X_test بأستخدام هذا النموذج وسوف نخزن الناتج في متغير سوف نسميه y_prediction حتى نقارنه بال Labels الحقيقية y_test للبيانات التجريبية من اجل معرفة مدى دقة هذا النموذج في التنبؤ

</p>

In [17]:
y_prediction = regressor.predict(X_test)
y_prediction

array([[ 67.33173467],
       [ 74.39018263],
       [ 68.24697572],
       ...,
       [ 70.36487351],
       [ 66.352517  ],
       [ 67.2965324 ]])

<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>

والان نريد اختبار دقة نموذج الانحدار الخطي الذي بنيناه ومن اجل قياس دقة النموذج في المهام من نوع Regression نستخدم المقياس RMSE وهو مختصر ل Root Mean Square Error وهو جذر متوسط تربيع الخطأ المتبقي وسنتعرف على هذا المقياس في الدورات القادمة لانه في هذه الدورة الهدف هو فقط تعلم بناء النموذج وتدريبه وتجريبه بالاضافة الى التعرف على اساسيات تعليم الالة وانواع المهام
<br><br>
هذا المقياس RMSE يعطينا نسبة الخطأ ومن المؤكد انه كلما قل الخطأ كلما كان النموذج افضل ومن اجل حساب RMSE توجد وظيفة في مكتبة sklearn اسمها mean_squared_error ولكننا نحتاج الى Root Mean Square Error ولذلك سوف نأخذ الجذر التربيعي لهذه الوظيفة وبالتالي سنحصل على RMSE
<br>
والان سوف نستخدام الوظيفة mean_squared_error للمقارنة بين ال Labels الحقيقية y_test للبيانات التجريبية وبين ال Labels التي تنبئ بها النموذج y_prediction
<br>
ثم سنأخذ الجذر التربيعي لها sqrt وسوف نخزن الناتج في متغير اسمه RMSE ثم سوف نطبعه لمعرفة نسبة الخطأ
</p>

In [18]:
RMSE = sqrt(mean_squared_error(y_test, y_prediction))

In [19]:
print(RMSE)

2.7973997099609704

<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>

من الواضح انه نسبة الخطأ تقريبا 2.8 وكبداية ومحاولة اولى لابأس بهذا الرقم ولكن بأمكاننا تحسين اداء هذا النموذج من خلال عدة امور سنتعلمها في الدورات القادمة

<br>
نسبة الخطأ هذه تعني ان النموذج الذي بنيناه ستكون فيه نسبة خطأ في التنبؤ مقدارها 2.8 تقريبا 
<br>

ولنقارن مقارنة بسيطة بين اول خمسة قيم في ال Labels الحقيقية للبيانات التجريبية وبين اول خمسة قيم في ال Labels التي تنبئ بها النموذج
<br>
ملاحظة: القيم ال output للمكتبة sklearn تكون دائما من نوع Numpy array ولذلك لانستطيع طباعة اول خمسة قيم من y_prediction بأستخدام المثود head لأن المثود head تعمل فقط في البيانات من نوع DataFrame

</p>

In [22]:
y_test.head()

       overall_rating
49020            68.0
42212            74.0
96284            67.0
46315            62.0
88202            72.0

In [25]:
y_prediction[:5]

array([[ 67.33173467],
       [ 74.39018263],
       [ 68.24697572],
       [ 59.33609241],
       [ 71.37477943]])

<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>

وكما هو واضح هناك فروقات بسيطة بين القيم الحقيقية وبين القيم التي تنبئ بها النموذج وسنتعلم في الدورات القادمة كيف نقلل هذه الفروقات من خلال تقليل نسبة الخطأ في النموذج
</p>

<br>

<p style="font-family: Arial;font-size:5em; color:#09bef3; font-style:bold; text-align:center">
Congratulations
</p>
<br>
<p style="font-family: Arial; font-size:1.2em;color:black; font-style:normal; text-align:right; direction: rtl"><br>
تهانينا لقد قمت بعمل عظيم حيث اصبح بأمكانك الان بناء نموذج تعليم الة ذكي يتنبئ بتقييم اللاعبين كما بأمكانك استخدام هذه النموذج مع اي بيانات مشابهة مثلا بيانات منتجات شركة واسعارها حيث سيكون العمود الهدف هو الاسعار بدل تقييم اللاعبين وكذلك الحال في البيانات الاخرى مثلا درجات الحرارة وسوق الاسهم المالية وكل البيانات الاخرى التي نريد فيها التنبؤ بأرقام معينه كما بأمكانك تضمين هذا النموذج في تطبيقك او في موقعك الالكتروني او استخدامه في بحثك او مشروعك او اي شيء اخر تحتاجه كما بأمكاناك جعله مصدر ترجع اليه عندما تحتاج الى مساعدة في عملك او دراستك مستقبلا بالاضافة الى ان هناك العديد من التمارين في الدورة عليك اكمالها من اجل ممارسة واتقان واحتراف كل شيء تعلمته في هذا المشروع حتى يترسخ في ذهنك وتعتاد على بناء وتجريب واختبار نموذج تعليم الة واخيراً نتمنى ان تكون قد استمتعت في هذا المشروع واستفدت كثيرا منه 
</p>

###### © Copyright LimFinity Institute of Technology